.FieldSelectContent{
    display: flex;
    width: 96%;
    flex-direction: column;
    justify-content: center;
}

.FieldSelectButtons{
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.FieldSelectButtons>button{
    width: 50%;
    border-radius: 2px;
}

.FieldSelectKeys{
    margin: 0px 0px 0px 20px;
}