.CustomCheckbox {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 2px;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    color: black;
    transition: all ease 0.3s;
    font-family: Roboto;
}

.CustomCheckbox:checked {
    background-color: black;
}