.DBInfoContainer{
    border: 1px solid black;
    border-radius: 5px;
}

.DBInfoIcon{
    height: 200px;
}

.DBInfoContainer{
    display: flex;
}

.DBInfoContainer>.DBInfoText{
    margin-top: 20px;
}

.DBInfoText>p{
    margin: 0px;
    font-family: Roboto;
    text-transform: uppercase;
}