.BlackButton{
    font-family: Roboto;
    color: white;
    background-color: black ;
    border: 2px solid black;
    transition: all ease 0.5s;
}

.BlackButton:hover, .UpdateTabActive{
    font-family: Roboto;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.BlackButton:disabled{
    background-color: grey;
    color: white;
    border: 2px solid grey;
}

.UpdateHeaderButton{   
    width: 100%;
    height: 27px;   
}

.UpdateOptionsContainer{
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.UpdateOptionsContainer>p, .UpdateOptionsContainer>select{
    margin: 0% 2% 0% 2%;
}

.UpdateOptionsContainer>select{
    width: 74%;
}

.UpdateFileNameContainer{
    display: flex;
    justify-content: center;
}

.UpdateTabsContainer{
    display: flex;  
    justify-content: center;
}

.UpdateTabsContainer>button{
    width: 48%;
}

.UpdateContentContainer{
}

.UpdateContainer{
    display: flex;
    flex-direction: column;
    padding: 1% 0% 1% 0%;
    width: 100%;
    justify-self: center;
}

