.SelectSectionHeader>p{
    text-align: center;
    margin: 2px;
}

.SelectSectionHeader>div{
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
}

.SelectSectionHeader>div>div{
    flex: 0 1 100%;
    flex-grow: 1;
    padding: 0 2% 0% 2%;
}

#TargetTableSelect{
    width: 100%;
}

.SelectSectionContent{
    padding-top: 5px;
}

.SelectLoading{
    display: flex;
    justify-content: center;
}

.SelectLoading>.spinner-border{
    width: 130px;
    height: 130px;
}

.SelectSectionError{
    text-align: center;
    color: red;
    font-family: Roboto;
    font-size: 15px;
}

.ColumnButton{
    font-family: Roboto;
    width: 48%;
    margin: 0% 1% 0% 1%;
    height: 27px;
    border-radius: 1px;
    color: white;
    border: 2px solid black;
    background-color: black;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}

.ColumnButton:hover{
    color: black;
    background-color: white;
}

.ColumnButton:disabled{
    color: white;
    border-color: rgb(189, 189, 189);
    background: rgb(189, 189, 189);
    cursor: default;
}

.SelectContainer>div.spinner-border{
    height: 23px;
    width: 23px;
}

.KeysContainer{
    display: flex;
    padding: 1%;
    flex-direction: column;
}

.KeysContainer>div{
    margin: 0% 1% 0% 1%;
}

.ColumnContainer{
    display: flex;
    flex: 1 1 100%;
}

.ColumnContainer>div{
    width: 50%;
}

.GetSelectDataButton{
    width: 100%;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 2px;
    transition: all ease 0.5s;
    margin-top: 10px;
}

.GetSelectDataButton:hover{
    color: black;
    background-color: white;
}
